@import url("reset.css"); 

* {
    box-sizing: border-box;
}
#fullScreen {
    position: absolute;
    left: 19vh;
}

#fullScreenSpan {
    position: absolute;
    top: 4vh;
    left: 0;
    display: none;
    border: 1px solid black;
    background-color: #0c5cc4;
}

html {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
}

#wrapper {
    position: relative;
    border: 5px solid #23d96c;
    background-color: #011626;
    color: #8f6d47;
    height: 100%;
    width: 100%;
}

header {
    position: absolute;
    top: 0;
    background-color:#3b121f;
    width: 100%;
    border-bottom: 5px solid #23d96c;
    height: 5%;
}
header ul li {
    display: inline-block;
}
header ul li a {
    text-decoration: none;    
}
main {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 5%;
    overflow: auto;
}
footer {
    position: absolute;
    bottom: 0;
    background-color:#3b121f;
    width: 100%;
    height: 5%;
    border-top: 5px solid #23d96c;
}
